:root{
	--clr-neon:hsl(317 200% 54%);
	--clr-player-x: hsl(317 200% 54%);
	--clr-player-o: hsl(38 100% 54%);
	--clr-bg:hsl(323 21% 16%);
}
html{
	height: 100%;
}
body{	
	margin:0;
	padding:0;
	height: 100%;
	background: var(--clr-bg);
	font-family: sans-serif;
	background-image: url("rough_black_metal_wall.jpg") !important;
	background-position: center ;
	background-repeat: no-repeat ;
	background-size: cover ;
}
*,
*::before,
*::after{
	box-sizing: border-box;	
}
.title{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: x-large !important;
	color: seashell;
	margin-bottom: 20px;;
}
.container{
	height: 100vh;	
	display: flex;
	align-items:center;
	justify-content:flex-start;
	row-gap: 30px;
	flex-direction: column;
	background-image: url(../Vintage-Gardening-94-OldDesignShop-676x1024-removebg-preview.png);
}
p{
	text-align: center;
}
#board{
	width: 450px;
	display: flex;
	flex-wrap: wrap;
}
.cell{
	width: 150px;
    height: 150px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
	color: var(--clr-player-o);
	font-size: 5rem;
}
.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3) {
    border-top: none;
}
.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7) {
    border-left: none;
}
.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
    border-right: none;
}
.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
    border-bottom: none;
}
.restart {
    font-size: 2rem;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: var(--clr-neon);
	background-color: transparent;
	border: currentColor 0.125em solid;
	padding: 0.25em 1em;
    border-radius: 0.25em;
	text-shadow:
	0 0 0.5em	hsl(0 0% 100% / 0.3),
	0 0 1em currentColor;
	box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.55em 0 var(--clr-neon);	
	position: relative;
}
.restart::before {
	pointer-events: none; /*damit nur auf dem Butto ein pointer-event ist */
	content: "";
	position: absolute;
	background: var(--clr-neon);
	top: 120%;
	left: 0;
	width: 100%;
	height: 100%;
  
	transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
	filter: blur(1em);
	opacity: 0.7;
  }
  
  .restart::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 2em 0.5em var(--clr-neon);
	opacity: 0;
	background-color: var(--clr-neon);
	z-index: -1;
	transition: opacity 100ms linear;
  }
  
  .restart:hover,
  .restart:focus {
	color: var(--clr-bg);
	text-shadow: none;
  }
  
  .restart:hover::before,
  .restart:focus::before {
	opacity: 1;
  }
  .restart:hover::after,
  .restart:focus::after {
	opacity: 1;
  }



