.wrapper{
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
}
.wrapper > * {
    padding: 30px;
    flex: 1 100%;
}
.title {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-style: arial;
    font-weight: bolder;    
    text-align: center;
}
.instructions{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: arial;
    font-size: 12px;
    justify-content: center;
    text-align: center;
}
body{
    background-image: url("public\brickwall.jpg"); 
    background-repeat: no-repeat,
}
.board {
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto)
}
.cell {
	width: 100px;
	height: 100px;
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7) {
	border-left: none;
}

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
	border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
	border-bottom: none;
}
.button{
    text-align: center;
}
.restartButton {
	border-radius: 10px;
	font-size: 25px;
	background-color: rgb(163, 163, 163);
	border: 1px solid;
	padding: .25em .5em;
	cursor: pointer;
    position:relative;
}
.restartButton:hover {
	background-color:rgb(83, 83, 83);
	color: white;
	border-color: white;
}
.footer{
    text-align: center;

}
@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
@media all and (min-width: 800px) {
    .board    { flex: 3 20px; }
    .instructions { order: 1; } 
    .board    { order: 2; }
    .button { order: 3; }
    .footer  { order: 4; }
 }